#Environment variables for local development

PUBSUB_EMULATOR_HOST=localhost:8085
FIRESTORE_EMULATOR_HOST=localhost:8080

# GCP project configuration
PROJECT_ID=your-gcp-project-id
GCP_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
DATABASE_ID=your-firestore-database-id

# Pub/Sub
INPUT_SUBSCRIPTION_ID=router-input
PUBLISHER_ERROR_TOPIC_ID=message-error-topic
PUBLISHER_SUCCESS_TOPIC_ID=worker-success-topic

# Worker configuration
NUMBER_OF_WORKERS=3
NUMBER_OF_NODES=5
MAX_MESSAGES=50

# Metrics Processor
WINDOW_SIZE=5

# Topic for publishing test messages
TOPIC_TO_PUBLISH=incoming-messages
