PROJECT_ID=your-project-id

INPUT_TOPIC_ID=incoming-messages
INPUT_SUBSCRIPTION_ID=router-input
SUCCESS_TOPIC_SUBSCRIPTION_ID=ui-read-success-topic
ERROR_TOPIC_SUBSCRIPTION_ID=ui-read-error-topic

FLOW_CONTROL_URL=your-flow-control-url
DATABASE_ID=adaptimould-firestore

MAX_MESSAGES=50
MESSAGE_PULL_SIZE=50